engine-strict=true
; NPM init config
; Command: `npm init --userconfig=./.npmrc`
init-author-name = "The Idiot"
init-author-email = "idiot@gov.net"
init-author-url = "https://idiot.gov.net"
init-license = "ISC"
init-version = "0.0.1"
